@font-face {
    font-family: font;
    src: url('http://localhost/oldElephant/Media/Fonts/HACKED.ttf');
}
@font-face {
    font-family: passage;
    src: url('http://localhost/oldElephant/Media/Fonts/basictitlefont.ttf');
}










