@font-face {
    font-family: font;
    src: url('{{@!_site_url_!@}}Media/Fonts/HACKED.ttf');
}
@font-face {
    font-family: passage;
    src: url('{{@!_site_url_!@}}Media/Fonts/basictitlefont.ttf');
}





















